/** biome-ignore-all lint/correctness/noUnknownProperty: apple-visual-effect is supported only with WKWebView on macOS 26+ */

@utility apple-blur-ultra-thin {
	-apple-visual-effect: -apple-system-blur-material-ultra-thin;
}

@utility apple-blur-thin {
	-apple-visual-effect: -apple-system-blur-material-thin;
}

@utility apple-blur {
	-apple-visual-effect: -apple-system-blur-material;
}

@utility apple-blur-thick {
	-apple-visual-effect: -apple-system-blur-material-thick;
}

@utility apple-blur-chrome {
	-apple-visual-effect: -apple-system-blur-material-chrome;
}

@utility apple-glass-adaptive-focused {
	-apple-visual-effect: -apple-system-glass-material;
}

.window-focused .apple-glass-adaptive {
	-apple-visual-effect: -apple-system-glass-material;
}

.apple-glass-adaptive {
	-apple-visual-effect: -apple-system-glass-material-subdued;
}

@utility apple-glass-clear {
	-apple-visual-effect: -apple-system-glass-material-clear;
}

@utility apple-glass-adaptive-subdued {
	-apple-visual-effect: -apple-system-glass-material-subdued;
}

@utility apple-glass {
	-apple-visual-effect: -apple-system-glass-material-media-controls;
}

@utility apple-glass-subdued {
	-apple-visual-effect: -apple-system-glass-material-media-controls-subdued;
}

@utility apple-vibrancy-label {
	-apple-visual-effect: -apple-system-vibrancy-label;
}

@utility apple-vibrancy-secondary-label {
	-apple-visual-effect: -apple-system-vibrancy-secondary-label;
}

@utility apple-vibrancy-tertiary-label {
	-apple-visual-effect: -apple-system-vibrancy-tertiary-label;
}

@utility apple-vibrancy-quaternary-label {
	-apple-visual-effect: -apple-system-vibrancy-quaternary-label;
}

@utility apple-vibrancy-fill {
	-apple-visual-effect: -apple-system-vibrancy-fill;
}

@utility apple-vibrancy-secondary-fill {
	-apple-visual-effect: -apple-system-vibrancy-secondary-fill;
}

@utility apple-vibrancy-tertiary-fill {
	-apple-visual-effect: -apple-system-vibrancy-tertiary-fill;
}

@utility apple-vibrancy-separator {
	-apple-visual-effect: -apple-system-vibrancy-separator;
}

.apple-vibrancy-overlay {
	-apple-visual-effect: -apple-system-vibrancy-overlay;
}

.solarium-toolbar-container {
	display: flex;
	gap: 2;
	border-radius: 100%;
	background: var(--color-gray-2), 70%;
	-apple-visual-effect: -apple-system-glass-material-media-controls;
}
